:host {
    display: block;
    height: 100vh;
    overflow: auto;
    padding: 15px;
    overflow: hidden;
}

* {
    width: 100%;
}

#panel-header {
    height: 10%;
    background-color: red;
    text-align: center;
}

#info {
    height: 80%;
    background-color: blue;
}

#input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;  
    font: -moz-field;
    font: -webkit-small-control;
    font-size: 2em;
    margin-top: 5px;
    padding: 2px 3px;
    max-height: 3em;
    overflow-y: auto;
}